<!-- <div class="w3-content w3-container w3-padding-16" id="experience">
     <h3 style="color: #000000;  text-shadow: 0.2px 0.2px 0.2px grey;">Experience</h3>

    <div class="w3-row-padding w3-section" onmouseout="neumesh_start()" onmouseover="neumesh_stop()">
      <div class="w3-col m6 w3-center">
        <div style="width: 85% ; margin-left: auto; margin-right: auto;">
          <img src="assets/img/shanghaiailab.png" style="max-width: 150px; width: 100%; height: auto;" alt="Shanghai Artificial Intelligence Laboratory">
        </div>
      </div>
      <div class="w3-col m6 w3-">
        <div class="pub-title">Shanghai Artificial Intelligence Laboratory
        </div>
        <div class="pub-conference">
          Intern
        </div>
        <div class="pub-authors">
          supervised by jiangmiao Pang and Tai Wang
        </div>
        <div class="pub-authors">
          2024.2-2024.6
        </div>
      </div>
    </div>
</div>--> 

<div class="w3-content w3-container w3-padding-16" id="experience">
  <div class="w3-row-padding w3-section" 
       onmouseout="neumesh_start()" onmouseover="neumesh_stop()" 
       style="display: flex; flex-wrap: wrap;">
    

    <div class="w3-col m6 w3-center" style="flex: 1;">
      <div style="width: 85%; margin: 0 auto;">
        <img src="assets/img/shanghaiailab.png" 
             style="max-width: 150px; width: 100%; height: auto;" 
             alt="Shanghai Artificial Intelligence Laboratory">
      </div>
    </div>

    <div class="w3-col m6" style="flex: 1;">
      <div class="pub-title" style="font-weight: bold;">Shanghai Artificial Intelligence Laboratory</div>
      <div class="pub-conference " style="font-weight: bold;">Intern</div>
      <div class="pub-authors " style="font-weight: bold;">supervised by Jiangmiao Pang and Tai Wang</div>
      <div class="pub-authors " style="font-weight: bold;">2024.02-2024.06</div>
    </div>
    
  </div>
</div>

<div style="height: 20px;"></div> <!-- padding -->


<div class="w3-content w3-container w3-padding-16" id="experience">
  <div class="w3-row-padding w3-section" 
       onmouseout="neumesh_start()" onmouseover="neumesh_stop()" 
       style="display: flex; flex-wrap: wrap;">
    

    <div class="w3-col m6 w3-center" style="flex: 1;">
      <div style="width: 85%; margin: 0 auto;">
        <img src="assets/img/zhejianglab_logo.jpeg" 
             style="max-width: 150px; width: 100%; height: auto;" 
             alt="Shanghai Artificial Intelligence Laboratory">
      </div>
    </div>


    <div class="w3-col m6" style="flex: 1;">
      <div class="pub-title" style="font-weight: bold;">zhejiang Laboratory</div>
      <div class="pub-conference" style="font-weight: bold;">Intern</div>
      <div class="pub-authors " style="font-weight: bold;">supervised by Zhaopeng Cui</div>
      <div class="pub-authors " style="font-weight: bold;">2022.07-2022.10</div>
    </div>
    
  </div>
</div>


